/*!
 * Variables for ramverk1 kmom01.
 *
 * This stylesheet is for the ramverk1 course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */


@colorBody: #333;
@headerColor: #222;
@footerColor: #e8e8e8;
@headerLogoColor: #222;
@aColor: #00439C;
@aHoverColor: #333;
@navbarItemHoverColor: #222;
@footeraHoverColor: #fff;
@selectedColor: #00439C;
@hColor: #00439C;

@bgColorHtml: #052748;
@bgColorBody: #eee;
@mainBgColor: #eee;
@headerBgColor: #fff;
@navbarItemBgColor: #fff;
@maxBgColor: #fff;
@maxButtonSubmenuBgColor: #00439C;
@footerBgColor: #00439C;
@ahoverBgColor: #faee70;
